/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/layouts\/culturaviva\/_branding\.scss}line{font-family:\000031}}
.l-cv-header {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/layouts\/culturaviva\/_branding\.scss}line{font-family:\000034}}
.l-cv-branding {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/layouts\/culturaviva\/_footer\.scss}line{font-family:\000031}}
.l-cv-footer {
  width: 65.95745%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/layouts\/culturaviva\/_header\.scss}line{font-family:\000031}}
.l-cv-header {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/layouts\/culturaviva\/_main\.scss}line{font-family:\000031}}
.l-cv-main {
  width: 65.95745%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/*.l-cv-slider{
    @include grid-span(8,5);  
}
.l-cv-content{
    @include grid-span(8,1);}
.l-cv-sidebar{
    @include grid-span(4,9);
}
.l-region--destacado{
    @include grid-span(8,5);
}
.l-region--breadcrumb{
    @include grid-span(8,5);
}
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000331}}
body {
  margin: 0 5%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000334}}
.l-cv-header {
  background: none repeat scroll 0 0 rgba(255, 254, 123, 0.7);
  border-bottom: 5px solid black;
  border-right: 3px solid gray;
  clear: none;
  float: left;
  height: 1500px;
  margin-left: 0;
  margin-right: -100%;
  position: fixed;
  width: 20%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000345}}
  .l-cv-header .l-cv-branding {
    clear: none;
    float: none;
    margin-left: 0;
    margin-right: -100%;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000351}}
    .l-cv-header .l-cv-branding .l-region.l-region--branding {
      height: 100%;
      margin: 15% auto;
      width: 90%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000355}}
      .l-cv-header .l-cv-branding .l-region.l-region--branding .presenta-sitename {
        display: block;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000362}}
        .l-cv-header .l-cv-branding .l-region.l-region--branding .presenta-sitename .site-logo img {
          height: auto;
          margin: 0 auto;
          max-width: 80%;
          position: relative;
          text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000371}}
        .l-cv-header .l-cv-branding .l-region.l-region--branding .presenta-sitename .site-name {
          color: #FFFFFF;
          font-size: 2rem;
          margin: 0 auto;
          text-transform: uppercase;
          text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000377}}
          .l-cv-header .l-cv-branding .l-region.l-region--branding .presenta-sitename .site-name a {
            color: white;
            margin: 0 auto;
            text-align: center;
            text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000384}}
        .l-cv-header .l-cv-branding .l-region.l-region--branding .presenta-sitename .slogan {
          color: #0000FF;
          font-size: 20px;
          text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000388}}
          .l-cv-header .l-cv-branding .l-region.l-region--branding .presenta-sitename .slogan a {
            color: blue;
            margin: 0 auto;
            text-align: center;
            text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000398}}
  .l-cv-header .presenta-sitename:hover, .l-cv-header .presenta-sitename:focus, .l-cv-header .presenta-sitename:active {
    -webkit-animation-name: pulse-grow;
    animation-name: pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003110}}
  .l-cv-header #menu-541-1 {
    margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003114}}
.sf-menu.menu, .sf-menu.menu ul, .sf-menu.menu li {
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003119}}
.l-cv-footer {
  background: none repeat scroll 0 0 rgba(255, 221, 58, 0.44);
  clear: none;
  display: block;
  position: relative;
  top: 10rem;
  vertical-align: baseline;
  border-radius: 20px;
  border-bottom: 5px solid #000000;
  border-left: 3px solid #808080;
  padding: 1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003130}}
  .l-cv-footer .views-row {
    list-style: none outside none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003133}}
  .l-cv-footer .footer-display {
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003135}}
    .l-cv-footer .footer-display img {
      float: left;
      margin-left: 3rem;
      margin-right: 3rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003143}}
.menu-central {
  margin: 0 auto;
  position: relative;
  width: 90%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003147}}
  .menu-central #formulario-inscripcion {
    position: relative;
    background-color: white;
    border-radius: 10px;
    border-bottom-width: medium;
    border-color: black;
    text-align: center;
    top: 40px;
    color: black;
    border-bottom: 4px solid #242222;
    border-right: 4px solid #585353;
    height: 200px;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003195}}
    .menu-central #formulario-inscripcion:active, .menu-central #formulario-inscripcion:hover {
      background: #ff6600;
      color: blue; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003200}}
  .menu-central #convocatoria {
    background: white;
    height: 50px;
    width: 80%;
    border-radius: 10px;
    color: black;
    border-bottom: 4px solid #242222;
    border-right: 4px solid #585353;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    vertical-align: middle;
    padding-top: 12px;
    text-decoration: none;
    top: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003216}}
    .menu-central #convocatoria:active, .menu-central #convocatoria:hover {
      background: #ff6600;
      color: blue; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003222}}
  .menu-central .menu-central-hijo {
    background: #ff6600;
    color: blue;
    margin: 3px;
    padding: 2px;
    border-radius: 0 0 5px 5px;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003230}}
    .menu-central .menu-central-hijo a:active, .menu-central .menu-central-hijo a:hover {
      background: yellow;
      color: red; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003236}}
.naranjo-cvc {
  color: #ff6600; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003240}}
.book-navigation__links {
  background: none repeat scroll 0 0  #66BDC0;
  border-radius: 10px;
  font-size: 15px;
  margin: 50px auto;
  padding: 20px;
  height: 66px;
  text-decoration: none;
  vertical-align: middle;
  font-family: Ubuntu; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003250}}
  .book-navigation__links a {
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003252}}
    .book-navigation__links a:hover {
      height: 30px;
      background: #9393db;
      border-radius: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003260}}
.l-cv-slider {
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003264}}
.js {
  font-family: Ubuntu;
  -ms-text-size-adjust: 100%;
  background: url(../images/fondo-web.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003273}}
.l-cv-content {
  background: rgba(165, 199, 241, 0.7);
  border-radius: 20px;
  padding: 50px;
  border-bottom: 5px solid black;
  border-left: 3px solid gray; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003281}}
.l-cv-region--breadcrumb {
  background: rgba(0, 200, 48, 0.7);
  border-radius: 20px;
  padding: 4px;
  margin: 20px auto;
  height: 100%;
  border-bottom: 4px solid black;
  border-left: 3px solid gray;
  display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003289}}
  .l-cv-region--breadcrumb a {
    height: 30px;
    text-decoration: none;
    vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003297}}
.espacio-tiempo {
  background: palegoldenrod;
  position: absolute;
  font-size: 0.8rem;
  top: 30px;
  margin: 10px 50px;
  padding: 20px;
  border-radius: 20px;
  border-bottom: 3px solid black;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  font-family: Ubuntu; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003357}}
.view-vista-footer table {
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003387}}
.sharethis-wrapper {
  padding-bottom: 5%;
  padding-top: 5%; }

@-webkit-keyframes pulse-grow {
  /* line 394, ../sass/cultura-viva-theme.styles.scss */
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }

@keyframes pulse-grow {
  /* line 401, ../sass/cultura-viva-theme.styles.scss */
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003407}}
.convocante {
  text-align: center;
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003413}}
  .convocante .logo-convocante {
    max-width: 90%;
    z-index: -1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003418}}
  .convocante .nombre-convocante {
    display: none;
    z-index: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003421}}
    .convocante .nombre-convocante:hover {
      filter: alpha(opacity=70);
      display: block;
      background-color: white;
      text-decoration: none;
      text-align: center;
      font-size: .6rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003431}}
.convocante:hover, .convocante:focus, .convocante:active {
  -webkit-animation-name: pulse-grow;
  animation-name: pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003444}}
.block.block--views.bloque-convocantes.block--views-convocantes-block-1 {
  color: #007CC8;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  display: inline-flex; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003453}}
.block.block--views.media-block.block--views-media-partner-block {
  color: #981616;
  display: inline-flex;
  font-size: 1rem;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003460}}
.media-partner {
  text-align: center;
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003467}}
.media-partner:hover, .media-partner:focus, .media-partner:active {
  -webkit-animation-name: pulse-grow;
  animation-name: pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003481}}
.ultimos-articulos .ua-titulo {
  font-size: 1.4rem;
  padding: 5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003484}}
  .ultimos-articulos .ua-titulo a {
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003487}}
.ultimos-articulos .ua-content {
  display: inline-flex;
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003490}}
  .ultimos-articulos .ua-content .ua-imagen {
    padding: 10px;
    width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003494}}
  .ultimos-articulos .ua-content .ua-resumen {
    font-size: 1.2rem;
    padding: 10px;
    text-align: justify;
    width: 70%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003504}}
.titulo-vista {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003507}}
.search-block-form {
  text-align: right;
  margin: 10px;
  padding: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003513}}
#menu-583-4 {
  display: block;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003519}}
#block-superfish-4 {
  direction: ltr;
  display: table;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003528}}
  #block-superfish-4 .menu-contenidos {
    width: 80px;
    height: 80px;
    background: none repeat scroll 0 0 rgba(45, 164, 211, 0.8);
    text-decoration: none;
    text-align: center;
    padding-top: 24px;
    border-radius: 50%;
    color: white;
    font-family: Ubuntu;
    border: medium solid;
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003549}}
  #block-superfish-4 .menu-contenidos:hover, #block-superfish-4 .menu-contenidos:focus, #block-superfish-4 .menu-contenidos:active {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6); }
