/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/layouts\/culturaviva\/_branding\.scss}line{font-family:\000031}}
.l-cv-header {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/layouts\/culturaviva\/_branding\.scss}line{font-family:\000034}}
.l-cv-branding {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/layouts\/culturaviva\/_footer\.scss}line{font-family:\000031}}
.l-cv-footer {
  width: 65.95745%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/layouts\/culturaviva\/_header\.scss}line{font-family:\000031}}
.l-cv-header {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/layouts\/culturaviva\/_main\.scss}line{font-family:\000031}}
.l-cv-main {
  width: 65.95745%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/*.l-cv-slider{
    @include grid-span(8,5);  
}
.l-cv-content{
    @include grid-span(8,1);}
.l-cv-sidebar{
    @include grid-span(4,9);
}
.l-region--destacado{
    @include grid-span(8,5);
}
.l-region--breadcrumb{
    @include grid-span(8,5);
}
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000326}}
body {
  margin: 0 5%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000329}}
.l-cv-header {
  background: none repeat scroll 0 0 #2566A3;
  clear: none;
  float: left;
  height: 1000px;
  margin-left: 0;
  margin-right: -100%;
  position: fixed;
  width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000338}}
  .l-cv-header .l-cv-branding {
    clear: none;
    float: none;
    margin-left: 0;
    margin-right: -100%;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000344}}
    .l-cv-header .l-cv-branding .l-region.l-region--branding {
      height: 100%;
      margin: 12% 20%;
      width: 40%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000349}}
      .l-cv-header .l-cv-branding .l-region.l-region--branding .presenta-sitename .site-link {
        margin: 0 auto;
        text-align: center;
        text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000354}}
      .l-cv-header .l-cv-branding .l-region.l-region--branding .presenta-sitename .site-name {
        color: #FFFFFF;
        font-size: 2rem;
        text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000359}}
      .l-cv-header .l-cv-branding .l-region.l-region--branding .presenta-sitename .slogan {
        color: #0000FF;
        font-size: 0.8rem; }
