/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/layouts\/culturaviva\/_branding\.scss}line{font-family:\000031}}
.l-cv-header {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/layouts\/culturaviva\/_branding\.scss}line{font-family:\000034}}
.l-cv-branding {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/layouts\/culturaviva\/_footer\.scss}line{font-family:\000031}}
.l-cv-footer {
  width: 65.95745%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/layouts\/culturaviva\/_header\.scss}line{font-family:\000031}}
.l-cv-header {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/layouts\/culturaviva\/_main\.scss}line{font-family:\000031}}
.l-cv-main {
  width: 65.95745%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/*.l-cv-slider{
    @include grid-span(8,5);  
}
.l-cv-content{
    @include grid-span(8,1);}
.l-cv-sidebar{
    @include grid-span(4,9);
}
.l-region--destacado{
    @include grid-span(8,5);
}
.l-region--breadcrumb{
    @include grid-span(8,5);
}
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000326}}
body {
  margin: 0 5%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000329}}
.l-cv-header {
  background: none repeat scroll 0 0 rgba(0, 110, 250, 0.7);
  border-bottom: 5px solid black;
  border-right: 3px solid gray;
  clear: none;
  float: left;
  height: 1500px;
  margin-left: 0;
  margin-right: -100%;
  position: fixed;
  width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000340}}
  .l-cv-header .l-cv-branding {
    clear: none;
    float: none;
    margin-left: 0;
    margin-right: -100%;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000346}}
    .l-cv-header .l-cv-branding .l-region.l-region--branding {
      height: 100%;
      margin: 15% auto;
      width: 60%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000352}}
      .l-cv-header .l-cv-branding .l-region.l-region--branding .presenta-sitename .site-logo img {
        margin: 0 auto;
        max-width: 80%;
        position: relative;
        text-align: center; }
        @media (min-width: 212px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000352}}
          .l-cv-header .l-cv-branding .l-region.l-region--branding .presenta-sitename .site-logo img {
            left: 0px; } }
        @media (min-width: 440px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000352}}
          .l-cv-header .l-cv-branding .l-region.l-region--branding .presenta-sitename .site-logo img {
            left: 0px; } }
        @media (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000352}}
          .l-cv-header .l-cv-branding .l-region.l-region--branding .presenta-sitename .site-logo img {
            left: 30px; } }
        @media (min-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000352}}
          .l-cv-header .l-cv-branding .l-region.l-region--branding .presenta-sitename .site-logo img {
            left: 30px; } }
        @media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000352}}
          .l-cv-header .l-cv-branding .l-region.l-region--branding .presenta-sitename .site-logo img {
            left: 30px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000377}}
      .l-cv-header .l-cv-branding .l-region.l-region--branding .presenta-sitename .site-name {
        color: #FFFFFF;
        font-size: 2rem;
        margin: 0 auto;
        text-transform: uppercase;
        text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000383}}
        .l-cv-header .l-cv-branding .l-region.l-region--branding .presenta-sitename .site-name a {
          color: white;
          margin: 0 auto;
          text-align: center;
          text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000390}}
      .l-cv-header .l-cv-branding .l-region.l-region--branding .presenta-sitename .slogan {
        color: #0000FF;
        font-size: 20px;
        text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000394}}
        .l-cv-header .l-cv-branding .l-region.l-region--branding .presenta-sitename .slogan a {
          color: blue;
          margin: 0 auto;
          text-align: center;
          text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003103}}
  .l-cv-header #menu-541-1 {
    margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003107}}
.sf-menu.menu, .sf-menu.menu ul, .sf-menu.menu li {
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003112}}
.l-cv-footer {
  background: none repeat scroll 0 0 rgba(255, 221, 58, 0.44);
  clear: none;
  display: block;
  float: right;
  height: 150px;
  margin-left: 30%;
  margin-right: 0;
  margin-top: 103px;
  position: relative;
  top: 150px;
  vertical-align: baseline;
  width: 60%;
  border-radius: 20px;
  border-bottom: 5px solid #000000;
  border-left: 3px solid #808080; }
  @media (min-width: 212px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003112}}
    .l-cv-footer {
      padding: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003130}}
      .l-cv-footer img {
        width: 70%;
        height: 70%; } }
  @media (min-width: 440px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003112}}
    .l-cv-footer {
      padding: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003137}}
      .l-cv-footer img {
        width: 75%;
        height: 75%; } }
  @media (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003112}}
    .l-cv-footer {
      padding: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003144}}
      .l-cv-footer img {
        width: 80%;
        height: 80%; } }
  @media (min-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003112}}
    .l-cv-footer {
      padding: 18px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003151}}
      .l-cv-footer img {
        width: 85%;
        height: 85%; } }
  @media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003112}}
    .l-cv-footer {
      padding: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003158}}
      .l-cv-footer img {
        width: 90%;
        height: 90%; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003167}}
.menu-central #formulario-inscripcion {
  position: relative;
  background-color: white;
  border-radius: 10px;
  border-bottom-width: medium;
  border-color: black;
  text-align: center;
  top: 40px;
  color: black;
  border-bottom: 4px solid #242222;
  border-right: 4px solid #585353;
  height: 200px;
  text-decoration: none; }
  @media (min-width: 212px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003167}}
    .menu-central #formulario-inscripcion {
      padding: 20px 10px 10px;
      width: 150px;
      font-size: 12px;
      margin: 0px auto; } }
  @media (min-width: 440px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003167}}
    .menu-central #formulario-inscripcion {
      padding: 20px 10px 10px;
      width: 150px;
      font-size: 14px;
      margin: 0px auto; } }
  @media (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003167}}
    .menu-central #formulario-inscripcion {
      padding: 20px 10px 10px;
      width: 100%;
      height: 60px;
      font-size: 16px;
      margin: 5px auto; } }
  @media (min-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003167}}
    .menu-central #formulario-inscripcion {
      padding: 20px 10px 10px;
      width: 100%;
      font-size: 18px;
      margin: 10px auto; } }
  @media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003167}}
    .menu-central #formulario-inscripcion {
      padding: 20px 10px 10px;
      width: 100%;
      font-size: 20px;
      margin: 10px auto; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003215}}
  .menu-central #formulario-inscripcion a:active, .menu-central #formulario-inscripcion a:hover {
    background: #ff6600;
    color: blue; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003220}}
.menu-central #convocatoria {
  background: white;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  color: black;
  border-bottom: 4px solid #242222;
  border-right: 4px solid #585353;
  text-align: center;
  position: relative;
  top: 20px;
  text-decoration: none;
  font-size: 20px;
  vertical-align: middle;
  padding-top: 12px;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003237}}
  .menu-central #convocatoria a:active, .menu-central #convocatoria a:hover {
    background: #ff6600;
    color: blue; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003243}}
.menu-central .menu-central-hijo {
  background: #ff6600;
  color: blue;
  margin: 3px;
  padding: 2px;
  border-radius: 0 0 5px 5px;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003251}}
  .menu-central .menu-central-hijo a:active, .menu-central .menu-central-hijo a:hover {
    background: yellow;
    color: red; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003257}}
.naranjo-cvc {
  color: #ff6600; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003261}}
.book-navigation__links {
  background: none repeat scroll 0 0  #66BDC0;
  border-radius: 10px;
  font-size: 15px;
  margin: 50px auto;
  padding: 20px;
  height: 66px;
  text-decoration: none;
  vertical-align: middle;
  font-family: Ubuntu; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003271}}
  .book-navigation__links a {
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003273}}
    .book-navigation__links a:hover {
      height: 30px;
      background: #9393db;
      border-radius: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003281}}
.l-cv-slider {
  position: relative;
  height: 500px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003286}}
.js {
  font-family: Ubuntu;
  -ms-text-size-adjust: 100%;
  background: url(http://www.encuentroculturaviva.cl/sites/default/files/galeria/header_recortado_0.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003295}}
.l-cv-content {
  background: rgba(94, 202, 52, 0.7);
  border-radius: 20px;
  padding: 50px;
  border-bottom: 5px solid black;
  border-left: 3px solid gray; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003303}}
.l-cv-region--breadcrumb {
  background: rgba(0, 200, 48, 0.7);
  border-radius: 20px;
  padding: 4px;
  margin: 20px auto;
  height: 100%;
  border-bottom: 4px solid black;
  border-left: 3px solid gray;
  display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003311}}
  .l-cv-region--breadcrumb a {
    height: 30px;
    text-decoration: none;
    vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003319}}
.espacio-tiempo {
  background: palegoldenrod;
  position: absolute;
  top: 30px;
  margin: 10px 50px;
  padding: 20px;
  border-radius: 20px;
  border-bottom: 3px solid black;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  font-family: Ubuntu; }
  @media (min-width: 212px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003319}}
    .espacio-tiempo {
      top: 200px;
      width: 100px;
      padding: 2px;
      left: -65px; } }
  @media (min-width: 440px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003319}}
    .espacio-tiempo {
      top: 160px;
      width: 160px;
      padding: 15px;
      left: -50px; } }
  @media (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003319}}
    .espacio-tiempo {
      top: 7px;
      width: 160px;
      padding: 5px;
      left: -90px; } }
  @media (min-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003319}}
    .espacio-tiempo {
      top: 0px;
      width: 160px;
      padding: 5px;
      left: -90px; } }
  @media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003319}}
    .espacio-tiempo {
      top: 0px;
      width: 160px;
      padding: 5px;
      left: 0px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003366}}
  .espacio-tiempo #espacio {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003369}}
  .espacio-tiempo #direccion {
    display: none; }

@media (min-width: 212px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003378}}
  .view-vista-footer td {
    padding: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003381}}
    .view-vista-footer td img {
      height: auto;
      max-width: 100%; } }
@media (min-width: 440px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003378}}
  .view-vista-footer td {
    padding: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003387}}
    .view-vista-footer td img {
      height: auto;
      max-width: 100%; } }
@media (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003378}}
  .view-vista-footer td {
    padding: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003393}}
    .view-vista-footer td img {
      height: auto;
      max-width: 100%; } }
@media (min-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003378}}
  .view-vista-footer td {
    padding: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003401}}
    .view-vista-footer td img {
      height: auto;
      max-width: 100%; } }
@media (min-width: 1200px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003378}}
  .view-vista-footer td {
    padding: 32px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003409}}
    .view-vista-footer td img {
      height: auto;
      max-width: 100%; } }
