/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/layouts\/culturaviva\/_branding\.scss}line{font-family:\000031}}
.l-cv-header {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/layouts\/culturaviva\/_branding\.scss}line{font-family:\000034}}
.l-cv-branding {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/layouts\/culturaviva\/_footer\.scss}line{font-family:\000031}}
.l-cv-footer {
  width: 65.95745%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/layouts\/culturaviva\/_header\.scss}line{font-family:\000031}}
.l-cv-header {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/layouts\/culturaviva\/_main\.scss}line{font-family:\000031}}
.l-cv-main {
  width: 65.95745%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

/*.l-cv-slider{
    @include grid-span(8,5);  
}
.l-cv-content{
    @include grid-span(8,1);}
.l-cv-sidebar{
    @include grid-span(4,9);
}
.l-region--destacado{
    @include grid-span(8,5);
}
.l-region--breadcrumb{
    @include grid-span(8,5);
}
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000326}}
body {
  margin: 0 5%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000329}}
.l-cv-header {
  background: none repeat scroll 0 0 #2566A3;
  clear: none;
  float: left;
  height: 1500px;
  margin-left: 0;
  margin-right: -100%;
  position: fixed;
  width: 30%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000338}}
  .l-cv-header .l-cv-branding {
    clear: none;
    float: none;
    margin-left: 0;
    margin-right: -100%;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000344}}
    .l-cv-header .l-cv-branding .l-region.l-region--branding {
      height: 100%;
      margin: 15% auto;
      width: 60%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000349}}
      .l-cv-header .l-cv-branding .l-region.l-region--branding .presenta-sitename .site-link {
        margin: 0 auto;
        text-align: center;
        text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000354}}
      .l-cv-header .l-cv-branding .l-region.l-region--branding .presenta-sitename .site-name {
        color: #FFFFFF;
        font-size: 2rem;
        margin: 0 auto;
        text-transform: uppercase;
        text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000361}}
      .l-cv-header .l-cv-branding .l-region.l-region--branding .presenta-sitename .slogan {
        color: #0000FF;
        font-size: 0.8rem;
        text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000367}}
  .l-cv-header #menu-541-1 {
    margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000371}}
.sf-menu.menu, .sf-menu.menu ul, .sf-menu.menu li {
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000376}}
.l-cv-footer {
  clear: none;
  display: block;
  float: right;
  height: 100px;
  margin-left: 30%;
  margin-right: 0;
  margin-top: 103px;
  position: absolute;
  top: 1000px;
  vertical-align: baseline;
  width: 60%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\0000392}}
#formulario-inscripcion {
  position: relative;
  margin: 10px auto;
  padding: 10px;
  padding-top: 90px;
  background-color: white;
  border-radius: 10px;
  border-bottom-width: medium;
  border-color: black;
  text-align: center;
  font-size: 20px;
  top: 40px;
  color: black;
  border-bottom: 4px solid #242222;
  border-right: 4px solid #585353;
  height: 200px;
  width: 100%;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003110}}
  #formulario-inscripcion a:active, #formulario-inscripcion a:hover {
    color: #ff6600; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003114}}
.naranjo-cvc {
  color: #ff6600; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003118}}
#convocatoria {
  background: white;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  color: black;
  border-bottom: 4px solid #242222;
  border-right: 4px solid #585353;
  text-align: center;
  position: relative;
  top: 20px;
  text-decoration: none;
  font-size: 20px;
  vertical-align: middle;
  padding-top: 12px;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/david\/public_html\/sites\/all\/themes\/cultura_viva_theme\/sass\/cultura-viva-theme\.styles\.scss}line{font-family:\00003135}}
  #convocatoria a:active, #convocatoria a:hover {
    color: #ff6600; }
