// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";
@import "layouts/**/*";
@import "menus/**/*"; 

body{
	margin: 0 5%;
}
.l-cv-header {
    background: none repeat scroll 0 0 rgba(0, 110, 250, 0.7);
    border-bottom: 5px solid black;
    border-right: 3px solid gray;
    clear: none;
    float: left;
    height: 1500px;
    margin-left: 0;
    margin-right: -100%;
    position: fixed;
    width: 30%;
.l-cv-branding {
    clear: none;
    float: none;
    margin-left: 0;
    margin-right: -100%;
    width: 100%;
.l-region.l-region--branding {
    height: 100%;
    margin: 15% auto;
    width: 60%;
.presenta-sitename{
.site-name {
   color: #FFFFFF;
    font-size: 2rem;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    a {
    color: white;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}
}
.slogan {
    color: #0000FF;
    font-size: 0.8rem;
    text-align: center;
    a {
    color: blue;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}

}
}}}
#menu-541-1{
	margin: 0 auto;	
}
}
.sf-menu.menu, .sf-menu.menu ul, .sf-menu.menu li {
    margin: 0 auto;
}


.l-cv-footer {
    clear: none;
    display: block;
    float: right;
    height: 100px;
    margin-left: 30%;
    margin-right: 0;
    margin-top: 103px;
    position: relative;
    top: 150px;
    vertical-align: baseline;
    width: 60%;
}

//menu de zona marca
.menu-central{
#formulario-inscripcion {
position: relative;
margin: 10px auto;
padding: 10px;
padding-top: 90px;
background-color: white;
border-radius: 10px;
border-bottom-width: medium;
border-color: black;
text-align: center;
font-size: 20px;
top: 40px;
color:black;
border-bottom: 4px solid rgb(36, 34, 34);
border-right: 4px solid rgb(88, 83, 83);
height: 200px;
width: 100%;
text-decoration: none;
a:active,  a:hover{
            background: $naranjo;
            color: $azul;
        }
}
#convocatoria {
background: white;
height: 50px;
width: 100%;
border-radius: 10px;
color: black;
border-bottom: 4px solid rgb(36, 34, 34);
border-right: 4px solid rgb(88, 83, 83);
text-align: center;
position: relative;
top: 20px;
text-decoration: none;
font-size: 20px;
vertical-align: middle;
padding-top: 12px;
text-decoration: none;
a{
&:active,  &:hover{
            background: $naranjo;
            color: $azul;
        }}
}

.menu-central-hijo{
            background: $naranjo;
            color: $azul;
            margin: 3px;
            padding: 2px;
            border-radius: 0 0 5px 5px;
            text-decoration: none;
        a{
            &:active,  &:hover{
            background: $amarillo;
            color: $rojo;
        } }           

}}
.naranjo-cvc{
             color: $naranjo;
}

.book-navigation__links {
    background: none repeat scroll 0 0 $naranjo;
    border-radius: 10px;
    font-size: 15px;
    margin: 50px auto;
    padding: 20px;
    height: 66px;
    text-decoration: none;
    vertical-align: middle;
    font-family: serif;
    a{
        text-decoration: none;
        &:hover{
            height: 30px;
            background: red;
            border-radius: 10px;
        }
    }
}

.l-cv-slider {
position: relative;
height: 500px;
}

.js {
font-family: sans-serif;
-ms-text-size-adjust: 100%;
background: url(http://www.encuentroculturaviva.cl/sites/default/files/galeria/header_recortado_0.png);
background-size: 100% auto;
background-repeat: no-repeat;
}

.l-cv-content {
background: rgba(125, 248, 86, 0.7);
border-radius: 20px;
padding: 50px;
border-bottom: 5px solid black;
border-left: 3px solid gray;
}

.l-cv-region--breadcrumb {
background: rgba(0, 200, 48, 0.7);
border-radius: 20px;
padding: 4px;
margin: 20px auto;
border-bottom: 4px solid black;
border-left: 3px solid gray;
a {
text-decoration: none;
}
}

.espacio-tiempo {
background: palegoldenrod;
position: absolute;
top: 30px;
margin: 40px 50px;
padding: 20px;
left: -150px;
border-radius: 20px;
border-bottom: 3px solid black;
border-left: 2px solid gray;
border-right: 2px solid gray;
font-family: monospace;
font-size: 18px;
}