// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";
@import "layouts/**/*";
@import "menus/**/*"; 

body{
	margin: 0 5%;
}
.l-cv-header {
    background: none repeat scroll 0 0 #2566A3;
    clear: none;
    float: left;
    height: 1000px;
    margin-left: 0;
    margin-right: -100%;
    position: fixed;
    width: 30%;
.l-cv-branding {
    clear: none;
    float: none;
    margin-left: 0;
    margin-right: -100%;
    width: 100%;
.l-region.l-region--branding {
    height: 100%;
    margin: 15% auto;
    width: 60%;
.presenta-sitename{
.site-link {
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}
.site-name {
   color: #FFFFFF;
    font-size: 2rem;
    margin: 0 auto;
    text-transform: uppercase;
}
.slogan {
    color: #0000FF;
    font-size: 0.8rem;
}
}}}}